= card(id) do
  - if header_picture.present?
    = card_image header_picture
  = card_header(title: title) do
    = header
  = card_content do
    = card_body do
      = body
    = card_footer do
      = footer
