<% if false %>
  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
    <%= form.label :role %>
    <%= form.select :role, User::ROLES %>

    <div class="actions" style="margin-top: 30px">
      <%= form.submit %>
    </div>
  <% end %>
<% else %>
  <%= render(Users::FormComponent.new(user: user)) %>
<% end %>
