%p#notice= notice

= render CardComponent.new(title: "Users") do |card|
  - card.with(:body) do
    %ul.list-group.list-group-flush
      .row
        .col
          %h5 First Name
        .col
          %h5 Last Name
        .col
          %h5 Role
        .col
        .col-4
          %h5 Actions
      - @users.each do |user|
        %li.list-group-item.row
          .col= user.first_name
          .col= user.last_name
          .col= user.role
          .col
          .col-4
            .row
              .col= link_to 'Show', user
              .col= link_to 'Edit', edit_user_path(user)
              .col= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
  - card.with(:footer) do
    = material_link_to 'New User', new_user_path
