.container
  .row
    .col-6
      = render(CardComponent.new(header_picture: "light-blur-green.jpg", title: "Component Card")) do |component|
        - component.with(:header)
        - component.with(:body) do
          %p This is an example card using the card component.
          %p These lines will appear in the body of the card.
        - component.with(:footer) do
          %p This could be anything from text to buttons.
    .col-6
      = card do
        = card_image "light-blur-green.jpg"
        = card_header(title: "Traditional Card")
        = card_content do
          = card_body do
            %p This is an example card using the card component.
            %p These lines will appear in the body of the card.
          = card_footer do
            %p This could be anything from text to buttons.
